<div class="login_wrapper">
<div class="animate form login_form">
   <section class="login_content">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h1>Login Form</h1>
      <div>
         <%= f.email_field :email, autofocus: true, :class =>"form-control", :placeholder =>"Username" %>
      </div>
      <div>
         <%= f.password_field :password, autofocus: true, :class =>"form-control", :placeholder =>"Username" %>
      </div>
      <div>
         <%= f.submit "Log in", :class =>"btn btn-default" %>
      </div>
     <% end %> 
      <%= render "users/shared/links" %>
      <div class="clearfix"></div>
      <div class="separator">
         <div class="clearfix"></div>
         <br/>
         <div>
            <h2><i class="fa fa-paw"></i>Wise Guy Test!</h2>
            <p>©2016 All Rights Reserved. Wise Guy Test. Privacy and Terms</p>
         </div>
      </div>
   </section>
</div>